@media (max-width: 576px) {
  :root {
    --letras: #e48715;
    --detalles: #f7d59a;
    --fondo: #d9d9d9;
    --logo: #243d8f;
    --puto: #000;
  }
  .navbar i {
    display: block;
    font-size: 40px;
    padding-right: 20px;
    cursor: pointer;
  }

  .nav {
    position: absolute;
    top: 100px;
    width: 100%;
    gap: 10px;
    border: 3px solid #fff;
    border-top: 0;
    flex-direction: column;
    background: rgb(228, 135, 21);
    background: radial-gradient(
      circle,
      rgba(228, 135, 21, 1) 52%,
      rgba(247, 213, 154, 1) 94%
    );
    border-radius: 0px 0px 15px 15px;
    padding: 30px;
    align-items: center;
    display: none;
    z-index: 1;
  }
  /* .navbar ul {
    background-color: var(--fondo);
    width: 50%;
    height: calc(61vh - 80px);
    top: 100px;
    left: 270px;
    gap: 15px;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    border-radius: 0px 15px 15px 0px;
    -webkit-border-radius: 0px 15px 15px 0px;
    -moz-border-radius: 0px 15px 15px 0px;
    -ms-border-radius: 0px 15px 15px 0px;
    -o-border-radius: 0px 15px 15px 0px;
  } */
  /* .nav {
    position: absolute;
    top: 90px;
    width: 90%;
    flex-direction: column;
    gap: 15px;
    align-items: end;
    left: 5%;
    right: 5%;
    background-color: #e48715;
    padding: 30px;
    border-radius: 0px 0px 15px 15px;
    -webkit-border-radius: 0px 0px 15px 15px;
    -moz-border-radius: 0px 0px 15px 15px;
    -ms-border-radius: 0px 0px 15px 15px;
    -o-border-radius: 0px 0px 15px 15px;
    border-top: 0px;
  } */
  /* .navbar i {
    display: block;
  } */
  #toggle-menu:checked ~ .nav {
    display: flex;
  }
  .nav_link {
    margin-right: 0px;
  }
  .hero h1 {
    text-align: center;
  }
  .hero-card img {
    width: 520px;
    height: 250px;
  }
  .video {
    display: none;
  }
  .sponsor {
    width: 100%;
    height: 500px;
    flex-wrap: wrap;
  }
  .about-info {
    flex-direction: column;
    gap: 50px;
  }
  .about h2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ubicacion {
    display: flex;
    flex-direction: column;
  }
  .ubicacion a {
    text-align: center;
  }
  .map-pool h2 {
    font-size: 50px;
    text-align: center;
  }
  .map-pool {
    position: relative;
    left: 0px;
  }
  .card:nth-child(7) {
    position: relative;
    left: 0px;
  }
  .container {
    width: 500px;
    flex-direction: column;
    align-items: center;
  }
  .contacto {
    text-align: center;
  }
  .footer {
    text-align: center;
  }
}
@media (max-width: 992px) {
  ul {
    margin: 0;
  }
  .hero-card {
    flex-direction: column;
  }
  .sponsor {
    flex-wrap: wrap;
  }
  .about-info {
    flex-direction: column;
    gap: 100px;
  }
  .map-pool {
    position: relative;
    left: 0;
  }
  .container {
    justify-content: center;
    max-width: 950px;
  }
  .card:nth-child(7) {
    position: relative;
    left: 0px;
  }
}
