@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  --letras: #e48715;
  --detalles: #f7d59a;
  --fondo: #d9d9d9;
  --logo: #243d8f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(/img/ddddddddd);
  width: 100%;
}
.navbar {
  width: 100%;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(228, 135, 21);
  background: radial-gradient(
    circle,
    rgba(228, 135, 21, 1) 52%,
    rgba(247, 213, 154, 1) 94%
  );
  font-size: 25px;
  height: 100px;
}
.logo {
  justify-content: start;
  width: 50px;
  margin-top: 5px;
  margin-left: 5px;
}
a {
  text-decoration: none;
}
ul {
  margin: 15px 15px 15px 500px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav a:hover {
  background-size: 100% 2px;
  color: #fff;
}
.nav a {
  background-size: 0% 2px;
  background-image: linear-gradient(90deg, #fff, #fff);
  background-repeat: no-repeat;
  background-position: bottom left;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.nav_link {
  list-style: none;
  margin-right: 100px;
  font-family: "Bebas Neue", sans-serif;
}
.navbar i {
  font-size: 40px;
  display: none;
}
#toggle-menu {
  display: none;
}
.hero h1 {
  display: flex;
  font-family: "Bebas Neue", sans-serif;
  justify-content: center;
  font-size: 80px;
  background: rgb(36, 61, 143);
  background: linear-gradient(
    348deg,
    rgba(36, 61, 143, 1) 33%,
    rgba(0, 0, 0, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.hero-complete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-card img {
  margin: 10px;
  width: 850px;
  height: 500px;
  gap: 15px;
}
.video {
  margin: 10px;
}
.boton a {
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  font-size: 30px;
  padding: 10px;
  color: black;
  background-color: var(--logo);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.boton a:hover {
  opacity: 80%;
  width: 400px;
  color: #fff;
  height: 60px;
}
table {
  font-family: "Bebas Neue", sans-serif;
  height: 300px;
  width: 500px;
  border: 2px solid #000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
th,
td {
  color: #3f3b3b;
  width: 25%;
  text-align: center;
  vertical-align: middle;
  border: 2px solid var(--logo);
  border-collapse: collapse;
  border-radius: 10px;
  padding: 0.3em;
  caption-side: bottom;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
caption {
  padding: 0.3em;
  color: #fff;
  background: #000;
}
th {
  background: #eee;
}
.sponsor {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  background-color: var(--letras);
  width: 100%;
}
.sponsor img:nth-child(1) {
  width: 300px;
  height: 100px;
}
.sponsor img:nth-child(2),
.sponsor img:nth-child(3),
.sponsor img:nth-child(4),
.sponsor img:nth-child(5) {
  width: 200px;
  height: 100px;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
}
.about h2 {
  margin-bottom: 100px;
  display: flex;
  font-family: "Bebas Neue", sans-serif;
  justify-content: center;
  font-size: 80px;
  background: rgb(36, 61, 143);
  background: linear-gradient(
    348deg,
    rgba(36, 61, 143, 1) 33%,
    rgba(0, 0, 0, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.about-info {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.ubicacion {
  display: table;
  align-items: center;
  justify-content: center;
}
.ubicacion a {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  color: var(--letras);
  padding: 75px;
  width: 270px;
  background-image: url(/img/ananananashe.jpg);
  display: table-cell;
  vertical-align: middle;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.ubicacion a:hover {
  filter: hue-rotate(-250deg);
  -webkit-filter: hue-rotate(-250deg);
}
.grada {
  margin: 25px;
  padding: 10px;
  border: solid var(--logo);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.grada img {
  width: 400px;
  height: 400px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  gap: 20px;
}
.card:nth-child(7) {
  position: relative;
  left: 375px;
}
.map-pool {
  position: relative;
  left: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mapas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.mapas h2 {
  display: flex;
  flex-direction: column;
  margin: 25px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  background: linear-gradient(
    348deg,
    rgba(36, 61, 143, 1) 33%,
    rgba(0, 0, 0, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.card {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 350px;
  background: rgb(228, 135, 21);
  background: radial-gradient(
    circle,
    rgba(228, 135, 21, 1) 52%,
    rgba(247, 213, 154, 1) 94%
  );
  border: solid var(--logo);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.card:hover {
  letter-spacing: 5px;
  gap: 20px;
  scale: 110%;
  background: var(--fondo);
  color: rgb(182, 37, 37);
}
.card img {
  border-radius: 10px;
  width: 300px;
  height: 150px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.card img:hover {
  scale: 114.6%;
}
.contacto {
  color: #eee;
  background-color: #000;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
}
.redes {
  display: flex;
  margin: 15px;
  gap: 25px;
  padding: 30px;
  border: solid rgb(255, 255, 255);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.redes img {
  transition: all 0.4s;
  opacity: 60%;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.redes img:hover {
  opacity: 100%;
  scale: 110%;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: black;
  color: white;
}
.footer img {
  width: 200px;
  height: 100px;
}
